## ATIVIDADE DA SEMANA 14 - Para casa

### Aluna: Nargylla Fernanda Cloviel Lima

Desafio: Criar um notebook de análise exploratória (como fizemos na nossa aula de hoje) com todas as etapas de coleta, limpeza, análise e visualização com base de dados da Olist.

Requisitos: 
- Formular o mínimo de 4 perguntas para responder com suas análises;
- Utilizar pelo menos 3 bases de dados da Olist (caso você deseje criar sua base do zero). Caso deseje continuar utilizando a que criamos em aula, é necessário incluir pelo menos mais 2 tabelas para enriquecer sua análise.   
- Criar pelo menos 3 gráficos.
- Exporte sua base final.

In [3]:
import pandas as pd

##### Perguntas:
- Qual o meio de pagamento mais utilizado pelos consumidores?
- Quais as três categorias de produtos mais comprados?
- Há uma disparidade muito grande entre o número de compradores em São Luís - MA e o número de vendedores?
- Qual a média de nota de avaliação dada pelos compradores em 2018?

## Limpeza dos dados

In [4]:
#Limpeza dos dados de meios de pagamentos
df_pagamento = pd.read_csv("C:\\Users\\nargy\\Documents\\Estudos\\Semana-14\\on26-python-s14-analise-de-dados\\material\\dataset_olist\\dados brutos-20231104T122900Z-001\\dados brutos\\olist_order_payments_dataset.csv")
df_pagamento

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [5]:
df_pagamento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [6]:
#dropando as colunas que não serão necessárias para a análise

columns_drop = ['payment_sequential', 'payment_value']
df_pagamento = df_pagamento.drop(columns_drop, axis=1)
df_pagamento

                                order_id payment_type  payment_installments
0       b81ef226f3fe1789b1e8b2acac839d17  credit_card                     8
1       a9810da82917af2d9aefd1278f1dcfa0  credit_card                     1
2       25e8ea4e93396b6fa0d3dd708e76c1bd  credit_card                     1
3       ba78997921bbcdc1373bb41e913ab953  credit_card                     8
4       42fdf880ba16b47b59251dd489d4441a  credit_card                     2
...                                  ...          ...                   ...
103881  0406037ad97740d563a178ecc7a2075c       boleto                     1
103882  7b905861d7c825891d6347454ea7863f  credit_card                     2
103883  32609bbb3dd69b3c066a6860554a77bf  credit_card                     1
103884  b8b61059626efa996a60be9bb9320e10  credit_card                     5
103885  28bbae6599b09d39ca406b747b6632b1       boleto                     1

[103886 rows x 3 columns]

In [7]:
df_pagamento['payment_type'].unique()

array(['credit_card', 'boleto', 'voucher', 'debit_card', 'not_defined'],
      dtype=object)

In [8]:
df_pagamento = pd.read_csv("C:\\Users\\nargy\\Documents\\Estudos\\Semana-14\\on26-python-s14-analise-de-dados\\material\\dataset_olist\\dados brutos-20231104T122900Z-001\\dados brutos\\olist_order_payments_dataset.csv", index_col= "payment_type")
df_pagamento.drop(["not_defined"], inplace=True)
df_pagamento

,order_id,payment_sequential,payment_installments,payment_value
payment_type,,,,
credit_card,b81ef226f3fe1789b1e8b2acac839d17,1,8,99.33
credit_card,a9810da82917af2d9aefd1278f1dcfa0,1,1,24.39
credit_card,25e8ea4e93396b6fa0d3dd708e76c1bd,1,1,65.71
credit_card,ba78997921bbcdc1373bb41e913ab953,1,8,107.78
credit_card,42fdf880ba16b47b59251dd489d4441a,1,2,128.45
...,...,...,...,...
boleto,0406037ad97740d563a178ecc7a2075c,1,1,363.31
credit_card,7b905861d7c825891d6347454ea7863f,1,2,96.80
credit_card,32609bbb3dd69b3c066a6860554a77bf,1,1,47.77
credit_card,b8b61059626efa996a60be9bb9320e10,1,5,369.54
boleto,28bbae6599b09d39ca406b747b6632b1,1,1,191.58

In [9]:
df_pagamento = df_pagamento.reset_index(drop=True)
df_pagamento

,order_id,payment_sequential,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,2,128.45
...,...,...,...,...
103878,0406037ad97740d563a178ecc7a2075c,1,1,363.31
103879,7b905861d7c825891d6347454ea7863f,1,2,96.80
103880,32609bbb3dd69b3c066a6860554a77bf,1,1,47.77
103881,b8b61059626efa996a60be9bb9320e10,1,5,369.54
103882,28bbae6599b09d39ca406b747b6632b1,1,1,191.58

In [10]:
#Limpeza de dados dos produtos
df_produto = pd.read_csv('C:\\Users\\nargy\\Documents\\Estudos\\Semana-14\\on26-python-s14-analise-de-dados\\material\\dataset_olist\\dados brutos-20231104T122900Z-001\\dados brutos\\olist_products_dataset.csv')
df_produto

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [11]:
df_produto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [12]:
#excluindo colunas não necessárias:
columns_drop_prod = ['product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']
df_produto = df_produto.drop(columns_drop_prod, axis=1)
df_produto

                             product_id              product_category_name
0      1e9e8ef04dbcff4541ed26657ea517e5                         perfumaria
1      3aa071139cb16b67ca9e5dea641aaa2f                              artes
2      96bd76ec8810374ed1b65e291975717f                      esporte_lazer
3      cef67bcfe19066a932b7673e239eb23d                              bebes
4      9dc1a7de274444849c219cff195d0b71              utilidades_domesticas
...                                 ...                                ...
32946  a0b7d5a992ccda646f2d34e418fff5a0                   moveis_decoracao
32947  bf4538d88321d0fd4412a93c974510e6  construcao_ferramentas_iluminacao
32948  9a7c6041fa9592d9d9ef6cfe62a71f8c                    cama_mesa_banho
32949  83808703fc0706a22e264b9d75f04a2e             informatica_acessorios
32950  106392145fca363410d287a815be6de4                    cama_mesa_banho

[32951 rows x 2 columns]

In [13]:
df_produto.dropna(inplace= True) 
df_produto

                             product_id              product_category_name
0      1e9e8ef04dbcff4541ed26657ea517e5                         perfumaria
1      3aa071139cb16b67ca9e5dea641aaa2f                              artes
2      96bd76ec8810374ed1b65e291975717f                      esporte_lazer
3      cef67bcfe19066a932b7673e239eb23d                              bebes
4      9dc1a7de274444849c219cff195d0b71              utilidades_domesticas
...                                 ...                                ...
32946  a0b7d5a992ccda646f2d34e418fff5a0                   moveis_decoracao
32947  bf4538d88321d0fd4412a93c974510e6  construcao_ferramentas_iluminacao
32948  9a7c6041fa9592d9d9ef6cfe62a71f8c                    cama_mesa_banho
32949  83808703fc0706a22e264b9d75f04a2e             informatica_acessorios
32950  106392145fca363410d287a815be6de4                    cama_mesa_banho

[32341 rows x 2 columns]